body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
.backgroundHeader{
  background-image: url('components/images/StudentLife2.png');
  background-color: darkslategray;
  text-align: center;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
  margin-bottom: 1%;
}

.tabs {
  height: auto;
  background-color: lightgray;
}

html body div#root div div div ul.tabs.center div.indicator {
  background-color: transparent;
  height: 0px;
}
.mainPage {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: lightgray;
}
.someContent {
  display: none;
  width: 100%;
}

.operations{
  margin-top: 0px;
}

.dropdown-toggle{
  padding: 0;
  border: 0;
}

.dropdown {
  margin-left: 27.5%;
  margin-right: 25%;
}
.linkMe{
  color: blue;
  display: inline-block;
}
.dropdown-leftTop > .open > ul:nth-child(2)::after{
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -13px;
  right: auto;
  bottom: auto;
  left: 5px;
  border-width: 0 15px 15px;
  border-color: white transparent;
}

.testWrap {
  white-space: pre-wrap;
}

.dropdown-rightTop > .open > ul:nth-child(2)::after{
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -13px;
  right: 5px;
  bottom: auto;
  left: auto;
  border-width: 0 15px 15px;
  border-color: white transparent;
}

.dropup {
  margin-left: 27.5%;
  margin-right: 25%;
}

.dropdown-menu {
  width: 40vw;
  /*Testing*/
  position: relative;
}

.dropdown-rightTop > .open > ul:nth-child(2) {
  left: -32.5vw;
}

.wrapper {
  padding-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 5%;
  background-color: yellow;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
}

.imageResizer {
  /*Testing*/
  width: 7.5vw;
  height: 7.5vw;
}